@{
    ViewBag.Title = "Home Page";
}

<style>

.index2
{
    float: left;margin-left: 5px
}

.index_new
{
    font-size:4vw;font-family: 'Adobe Caslon Pro';color: brown;margin-bottom: 0px;margin-top: 0px;
    float: right;
    margin-right: 5%;
}
        
.index5
{
    width: 100%;
}

.loan
{
    text-align: center;font-size: 40px;font-family: 'Adobe Naskh Medium';margin-bottom: 0px;margin-top: 0px
}

label
{
    text-align: center;
}

table
{
    width: 70%;
}

.dropbtn
{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown
{
    position: relative;
    display: inline-block;
}

.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover
{
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: #3e8e41;
}

</style>


<div class="row">
    <div style=" background:url(http://111.231.74.71/11.jpg) top center;background-size: cover;
    height: 100%;
    width: 100%;
    margin-left: -19.5%;
    position: fixed; ">
        <div class="index">
        </div>

        <p class="loan" style="text-align:center;margin-left:-5%">Welcome to film review website</p>
        <div style="text-align:center;margin:0 auto;margin-left:-5%">
            <div class="dropdown" style="width: 33%">
                <button class="dropbtn" style="width: 100%">Movie</button>
                <div class="dropdown-content" style="width: 99%">
					<a>@Html.ActionLink("Top Rated", "Top", "Home")</a>
					<a>@Html.ActionLink("Popular", "Popular", "Home")</a>
					<a>@Html.ActionLink("Coming soon", "Coming", "Home")</a>
                </div>
            </div>

            <div class="dropdown" style="width: 33%;margin-left: -8px;">
                <button class="dropbtn" style="width: 100%">Genre</button>
                <div class="dropdown-content" style="width: 99%">
                    <a href="#"> Action</a>
                    <a href="#">Adventure</a>
                    <a href="#">Romance</a>
                    <a href="#">Comedy</a>
                    <a href="#">Drama</a>
                </div>
            </div>

            <div class="dropdown" style="width: 34%;margin-left: -8px;">
                <button class="dropbtn" style="width: 100%">People</button>
                <div class="dropdown-content" style="width: 100%">
					<a href="#"> @Html.ActionLink("Actor", "Actor", "Home")</a>
					<a href="#"> @Html.ActionLink("Director", "Director", "Home")</a>
                </div>
            </div>
        </div>
        <div id="content">
        </div>
    </div>
</div>